<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <!-- <button class="btn btn-primary" (click)="goBack()">Back</button> -->
      <h2 style="color: aliceblue;" class="text-center m-0"></h2>
    </div>
  </nav>
  
    <div *ngIf="repositoryDetails">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ repositoryDetails.name }}</h5>
          <p class="card-text">{{ repositoryDetails.description }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Owner:</strong> {{ repositoryDetails.owner.login }}</li>
            <li class="list-group-item"><strong>Stars:</strong> {{ repositoryDetails.stargazers_count }}</li>
            <li class="list-group-item"><strong>Forks:</strong> {{ repositoryDetails.forks_count }}</li>
            <li class="list-group-item"><strong>Language:</strong> {{ repositoryDetails.language }}</li>
          </ul>
        </div>
      </div>
    </div>
  
    <div *ngIf="!repositoryDetails">
      <p>Loading repository details...</p>
    </div>
  </div>
  