<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <button class="btn btn-primary" (click)="goBack()">Back</button>
      <h2 style="color: aliceblue;" class="text-center m-0"></h2>
    </div>
  </nav>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Gist ID</th>
        <th>Description</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gist of gists">
        <td>{{ gist.id }}</td>
        <td>{{ gist.description }}</td>
        <td>
          <ul>
            <li *ngFor="let file of gist.files">{{ file.filename }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <button class="btn btn-primary mx-2" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <span class="page-number">Page {{ currentPage }}</span>
    <button class="btn btn-primary mx-2" (click)="onPageChange(currentPage + 1)" [disabled]="gists.length < pageSize">Next</button>
  </div>
</div>
